.responsive {
  max-width: 100%;
  height: auto;
}

.jumbotron {
  padding-top: 8rem;
  padding-bottom: ;
  background-color: #a2d9ff;k
}

.gallery {
  padding-top: ;
  padding-bottom: ;
  background-color: #a2d9ff;
}

.Project {
  padding-top: ;
  padding-bottom: ;
  background-color: #ffffff;k
}

